.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png ');
  height: 100vh;
  padding: 40px;
  flex-direction: column;
}
.main-heading {
  color: #ffffff;
  text-align: center;
}
